extends layout

block content
  h1= title

  - let result = results

  script.
    function buy(index){
      alert("You purchased items " + (index+1));
    }

  div.container-fluid
    div.row.m-1
      each Desserts, index in result
        - let destination = `dispatch(\"/desserts/update?id=${Desserts._id}\")`
        div.col-sm-2.m-1(onClick=`buy(${index})`)
          p Product Name: #{Desserts.Name}
          p Brand: #{Desserts.Calories}
          p Price: #{Desserts.Price}
          button.btn(class="btn-primary ml-1", onclick=destination) Update

  script.
    function dispatch(path){
      window.location.href = path;
    }
